.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.5rem;
}

.full-width {
  width: 100%;
}

.form-actions {
  margin-top: 1rem;
}
