<div class="transactions-page">
  @if(loading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    <div class="header">
      <h2>My Transactions</h2>
      <button mat-flat-button color="primary" (click)="openCreateModal()">Add Transaction</button>
    </div>

    @if (transactions().length === 0) {
      <p>No transactions found.</p>
    } @else {
      <app-transactions-table
        [transactions]="transactions()"
        (rowClicked)="onTransactionSelected($event)">
      </app-transactions-table>
    }
  }
</div>
