<div class="dashboard-container">
  @if (loading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    <section class="summary-section">
      <mat-card class="summary-card income">
        <h3>Total Income</h3>
        <p>${{ roundToHundredths(totalIncome()) }}</p>
      </mat-card>

      <mat-card class="summary-card expenses">
        <h3>Total Expenses</h3>
        <p>${{ roundToHundredths(totalExpenses()) }}</p>
      </mat-card>

      <mat-card class="summary-card balance">
        <h3>Balance</h3>
        <p>${{ roundToHundredths(netBalance()) }}</p>
      </mat-card>
    </section>

    <div class="button-row">
      <button mat-flat-button color="primary" (click)="openCreateTransactionHistoryModal()">
        Create Transaction History
      </button>
    </div>

    <mat-divider class="my-4"></mat-divider>

    @if (transactionHistories().length === 0) {
      <p>No transaction histories found.</p>
    } @else {
        <div class="history-grid">
            @for (history of paginatedTransactionHistories(); track history.id) {
                <mat-card class="history-card">
                <mat-card-title>{{ monthMapping.get(history.month) }} {{ history.year }}</mat-card-title>
                <mat-card-content>
                    <p>Total Income: ${{ history.totalIncome }}</p>
                    <p>Total Expenses: ${{ history.totalExpenses }}</p>
                    <p>Net Balance: ${{ history.netBalance }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="openTransactions(history)">View</button>
                    <button mat-button color="warn" (click)="deleteHistory(history.id)">Delete</button>
                </mat-card-actions>
                </mat-card>
            }
        </div>

        <mat-paginator
            [length]="transactionHistories().length"
            [pageSize]="pagination().pageSize"
            [pageIndex]="pagination().pageIndex"
            [pageSizeOptions]="[8,16,32]"
            (page)="onPageChange($event)">
        </mat-paginator>
    }
  }
</div>
